.artist-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.artist-card img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    display: block;
    margin-bottom: 10px;
}

.book-now-button {
    display: block;
    width: auto;
    margin: 10px auto; /* 调整上下边距 */
    padding: 15px 25px;
    background-color: #f00;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

.book-now-button:hover {
    background-color: #c00;
    cursor: pointer;
}
